<dom-module id="build-item">
        <style is="custom-style">
            :host{
                width: 100%;
                /*padding: 10px;*/
            }

            .card-container{
                width: 100%;
                /*padding: 10px;*/
            }

            paper-card{
                width: 100%;
                padding: 10px;
            }

        </style>
        <template>
            <div class="card-container">
                <paper-card>
                    <paper-input label="Version" value="[[item.version]]" readonly="{{editable}}"></paper-input><br/>
                    <paper-input label="bundleid" value="[[item.bundleid]]" readonly="{{editable}}"></paper-input><br/>
                    <paper-input label="releasedate" value="[[item.releasedate]]" readonly="{{editable}}"></paper-input><br/>
                    <paper-input label="buildno" value="[[item.buildno]]" readonly="{{editable}}"></paper-input><br/>
                    <paper-input label="password" type="password" id="passInput"></paper-input><br/>
                    <paper-button on-tap="onTapInstall" item_index="[[index]]">설치</paper-button>
                    <paper-button on-tap="tapDeleteBtn" item_index="[[index]]">삭제</paper-button>
                </paper-card>
                
            </div>
            <iron-ajax id="deleteBuild" method="DELETE" url="{{hostUrl}}build/{{deleteTargetId}}" handle-as="json" on-response="onResponse" last-response={{response}} debounce-duration="300"></iron-ajax>
        </template>
        <script>

            Polymer({
                is: 'build-item',
                properties: {
                    name: String,
                    hostUrl : String,
                    item : Object,
                    index : Number,
                    deleteTargetId : String,
                    ondelete : Object,
                    mainview :  Object,
                    editable : Boolean,
                    fireBase : Object
                },
                listeners: {
                },
                factoryImpl: function () {
                    this.hostUrl = window.location.origin + '/';
                    this.ononondelete = function (){

                    }
                },
                created: function () {
                    
                },
                ready: function () {
                },
                attached: function () {

                },
                tapDeleteBtn : function (){
                    this.deleteBuild();
                },
                deleteBuild :  function(){
                    this.deleteTargetId = this.item._id;
                    if(this.$.passInput.value === this.item.password){
//                        this.$.deleteBuild.generateRequest();
                        this.mainview.tap_delete_btn(this);
                    }else{
                        this.$.passInput.invalid = true;
                    }


                },
                onResponse : function (){
                    this.ondelete();
                },
                onTapInstall : function (){
                    var ou = "itms-services://?action=download-manifest&url=" + this.item.plistlink;
                    window.open(ou);
//                    var storage = firebase.storage();
//                    if(this.item.plistref != null){
//                        var storageRef = storage.ref();
//                        var pathReference = storage.ref(this.item.plistref);
//                        storageRef.child(pathReference.fullPath).getDownloadURL().then(function(url) {
//                            console.log(url);
//                            var ou = "itms-services://?action=download-manifest&url=" + url;
//                            window.open(ou);
//                        });
//                    }

                }
            });
        </script>
    </dom-module>
