<dom-module id="main-view">
    <style is="custom-style">
        :host{
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        paper-header-panel {
            position: relative;
            background-color: var(--paper-red-500);
            width: 100%;
            padding: 0;
            margin: 0;
        }
        .paper-header{
            float:left;
            height: 50px;
            line-height: 50px;
            width: 70%;
            padding-left: 10px;
            color: var(--google-grey-100);
        }

        .paper-header h1{
            line-height: 50px;
        }

        .add-btn{
            float:right;
            width: 30px;
            height: 50px;
            color: var(--google-grey-100);
        }

        paper-header-panel .content{
            background: linear-gradient(white, #f0f4c3);
        }

        .content{
            position:relative;
            max-width: 100%;
            display: flex;
            overflow:auto;
            flex-direction: row;
            flex-wrap: wrap;
        }
        build-item{
            width: 40%;
            margin: 5%;
        }
        @media (max-width: 415px) {
            build-item {
                width: 100%;
            }
        }

        #addDialog {
            width: 90%;
            overflow: scroll;
        }
    </style>
    <template>
        <div>
            <paper-header-panel mode="standard">
                <paper-toolbar class="tall">
                    <div class="paper-header">
                        TVING
                    </div>
                    <paper-button class="add-btn" on-tap="showAddDialog">ADD</paper-button>
                </paper-toolbar>
            </paper-header-panel>

            <div class="content">
                <template is="dom-repeat" id="builds" items="{{buildlist}}">
                    <build-item item=[[item]] index=[[index]] ondelete="{{onRe}}" mainview="{{me}}" editable=false fireBase="{{fireBase}}"></build-item>
                </template>
            </div>
        </div>
        <iron-ajax id="getBuildList" method="GET" lastError="{{error}}" on-error="onError" url="{{hostUrl}}build" handle-as="json" on-response="onGetRespone" last-response={{buildlist}} debounce-duration="500"></iron-ajax>
        <iron-ajax id="postCreateBuild" content-type="application/json" method="POST" url="{{hostUrl}}build" handle-as="json" on-response="onResponse" last-response={{response}} debounce-duration="500"></iron-ajax>
        <iron-ajax id="putUpdateBuild" method="PUT" url="{{hostUrl}}build" handle-as="json" on-response="onResponse" last-response={{response}} debounce-duration="500"></iron-ajax>

        <div id="llog"></div>
        <paper-dialog entry-animation="scale-up-animation"
                      exit-animation="fade-out-animation" id="addDialog" modal>
            <paper-input label="Version" id="versionInput" required></paper-input><br/>
            <paper-input label="bundleid" id="bundleidInput" required></paper-input><br/>
            <paper-input label="release date" id="releasedateInput" required placeholder="2016.01.01"></paper-input><br/>
            <paper-input label="build no" id="buildnoInput" required></paper-input><br/>
            <paper-input label="ipa link" id="ipalinkInput" disabled=true></paper-input><br/>
            <input type="file" value="upload" id="fireinput" on-change="filechange"/><span id="filetask"></span><br/>
            <paper-input label="plist link" id="plistlinkInput"  disabled=true required></paper-input><br/>
            <input type="file" value="upload" id="plistinput" on-change="plistchange"/><span id="plisttask"></span><br/>
            <paper-input label="plist download link" id="plistdownloadlinkInput" required></paper-input><br/>
            <paper-input label="password" id="passwordInput" type="password" required placeholder="수정/삭제 할 때 씀"></paper-input><br/>
            <paper-button on-tap="goaddviwe" id="addButton">추가</paper-button>
            <paper-button on-tap="closeAddDialog" dialog-confirm autofocus>취소</paper-button>
        </paper-dialog>

        <paper-dialog entry-animation="scale-up-animation"
                      exit-animation="fade-out-animation" id="loginDialog" modal>
            <h2>로그인</h2>
            <paper-input label="email" id="loginIDInput" required></paper-input><br/>
            <paper-input label="pwassword" id="loginPWInput" type="password" required></paper-input><br/>
            <paper-button on-tap="gogologin">로그인</paper-button>
        </paper-dialog>
    </template>

    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>

    <script>
//        var config = {
//        apiKey: "AIzaSyDae9-0z3r0MEzQjw0dwwXEKKR7KDkjq-w",
//        authDomain: "tvrelease-2233b.firebaseapp.com",
//        databaseURL: "https://tvrelease-2233b.firebaseio.com",
//        storageBucket: "tvrelease-2233b.appspot.com"
//      };
//      firebase.initializeApp(config);

        var config = {
            apiKey: "AIzaSyBGU_PsvHQlVQezFfk95C8cYnf9r9cBu-k",
            authDomain: "tvingrelease.firebaseapp.com",
            databaseURL: "https://tvingrelease.firebaseio.com",
            storageBucket: "tvingrelease.appspot.com",
            messagingSenderId: "851630901642"
        };
        firebase.initializeApp(config);

        var curCount;
        var isCountUpdate = false;
        var database = firebase.database();
        var fireAuth = firebase.auth();
        var fireStore = firebase.storage();
        function updateConut() {
            database.ref('count').set({
                count: curCount.count + 1
            });
        };

        function onConut() {
            var starCountRef = database.ref('count');
            starCountRef.on('value', function(snapshot) {
                curCount = snapshot.val();
                if(!isCountUpdate){
                    isCountUpdate = true;
                    updateConut();
                }
            });
        };


        Polymer({
            is: 'main-view',
            properties: {
                name: String,
                buildlist : Array,
                response : Object,
                deleteTargetId : String,
                hostUrl : String,
                ipaRef : String,
                plistRef : String,
                fireBase : Object,
                onRe : {
                    type : Object,
                    value : function (){
                        return {};
                    }
                },
                me : {
                    type : Object,
                    value : function (){
                        return this;
                    }
                },
                error: Object
            },
            listeners: {
            },
            factoryImpl: function () {
//                this.hostUrl = window.location.origin + '/';
            },
            created: function () {

            },
            ready: function () {
                this.fireBase = firebase;
                onConut();
                this.hostUrl = window.location.origin + '/';
                this.onRe = function (){
                    this.mainview.buildList();
                    return {};
                }

                var gggbbb = this.$.getBuildList;
                var it = this.$.llog.innerHTML;
//                this.$.llog.innerHTML = it + " onReady " + gggbbb.url + "<br>";
            },
            attached: function () {
                var main = this;
                fireAuth.onAuthStateChanged(function(user) {
                    if (user) {
                        main.buildList();
                    } else {
                        main.$.loginIDInput.value = "";
                        main.$.loginPWInput.value = "";
                        main.$.loginDialog.open();
                    }
                });

            },
            goaddviwe: function(){
                console.log("goaddviwe");

                if(this.$.versionInput.validate() ||
                        this.$.versionInput.validate() ||
                        this.$.bundleidInput.validate() ||
                        this.$.releasedateInput.validate() ||
                        this.$.buildnoInput.validate() ||
                        this.$.plistdownloadlinkInput.validate() ||
                        this.$.passwordInput.validate()){
                    this.closeAddDialog();
                    this.createBuild({
                        version: this.$.versionInput.value,
                        bundleid: this.$.bundleidInput.value,
                        releasedate: this.$.releasedateInput.value,
                        buildno: this.$.buildnoInput.value,
                        plistlink: this.$.plistdownloadlinkInput.value,
                        plistref: this.plistRef,
                        iparef: this.ipaRef,
                        password: this.$.passwordInput.value,
                        test:"test"
                    });
                }else{

                }

            },
            gogologin : function () {
                var email = this.$.loginIDInput.value;
                var password = this.$.loginPWInput.value;
                var main = this;
                fireAuth.signInWithEmailAndPassword(email, password).then(function () {
                    main.$.loginDialog.close();
                    main.buildList();
                }).catch(function(error) {
                    // Handle Errors here.
                    var errorCode = error.code;
                    var errorMessage = error.message;
                    // ...
                    if(error == null){
                        this.$.loginDialog.close();
                        main.buildList();
                    }
                });
            },
            buildList :  function(){
//                var it = this.$.llog.innerHTML;
//                var gggbbb = this.$.getBuildList;
////                this.$.llog.innerHTML = it + " onbuildList " + gggbbb.url + '<br/>';
//                gggbbb.generateRequest();

                var releaseRef = database.ref('release');
                var main = this;
                releaseRef.on('value', function(snapshot) {
                    var rels = snapshot.val();
                    var relArray = [];
                    if(rels) {
                        for(var key in rels){
                            rels[key].key = key;
                            relArray.push(rels[key]);
                        }

                    }

                    main.buildlist = relArray.reverse();
                });

            },

            createBuild :  function(data){
//                var cccbbb = this.$.postCreateBuild;
//                cccbbb.body = JSON.stringify(data);
//                cccbbb.generateRequest();
                database.ref('release').push(data);
            },
            updateBuild :  function(data){
                var uuubbb = this.$.putUpdateBuild;
                uuubbb.body = data;
                uuubbb.generateRequest();
            },
            onResponse : function(event){
                console.log(this.response);
                this.buildList();
            },
            onError : function () {
                var it = this.$.llog.innerHTML;



                var es = JSON.stringify(this.error);

                this.$.llog.innerHTML = it + " onError " + es + '<br/>';
            },
            onGetRespone : function(event){
                console.log(this.buildlist);
            },
            tap_delete_btn : function(itemEle){
//                var target = event.target,
//                        item_index = target.item_index,
//                        build = this.buildlist[item_index];
//                this.deleteTargetId = build._id;
//                this.deleteBuild();
// Create a reference to the file to delete
                database.ref('release/' + itemEle.item.key).set(null);

//                var desertRef = fireStore.ref(itemEle.item.iparef);
//                var desertRef2 = fireStore.ref(itemEle.item.plistref);
//
//                desertRef.delete().then(function() {
//                    // File deleted successfully
//                }).catch(function(error) {
//                    // Uh-oh, an error occurred!
//                });
//
//                desertRef2.delete().then(function() {
//                    // File deleted successfully
//                }).catch(function(error) {
//                    // Uh-oh, an error occurred!
//                });

            },
            showAddDialog : function (){
                this.$.addButton.disabled = true;
                this.$.addDialog.open();
            },
            closeAddDialog : function (){
                this.$.addDialog.close();
            }, 
            filechange : function (e) {
                var file = e.target.files[0];
                var storageRef = fireStore.ref("ipas/" + file.name);
                var filetask = this.$.filetask;
                var task = storageRef.put(file);
                this.ipaRef = storageRef.fullPath;
                var main = this;

                filetask.innerText = "0%"
                task.on("state_changed", function progress(snap) {
                    var per = snap.bytesTransferred / snap.totalBytes * 100;
                    filetask.innerText = per + "%";
                },
                function error (e) {

                },
                function complete() {
//                    main.$.addButton.disabled = false;
//                    main.$.ipalinkInput.value = "";
                    fireStore.ref().child(main.ipaRef).getDownloadURL().then(function(url) {
                        main.$.ipalinkInput.value = url;
                        main.$.ipalinkInput.disabled = false;
                    });
                })
            },
            plistchange : function (e) {
                var file = e.target.files[0];
                var storageRef = fireStore.ref("ipas/" + file.name);
                var filetask = this.$.plisttask;
                var task = storageRef.put(file);
                this.plistRef = storageRef.fullPath;
                var main = this;

                filetask.innerText = "0%"
                task.on("state_changed", function progress(snap) {
                            var per = snap.bytesTransferred / snap.totalBytes * 100;
                            filetask.innerText = per + "%";
                        },
                        function error (e) {

                        },
                        function complete() {
                            main.$.addButton.disabled = false;
                            fireStore.ref().child(main.plistRef).getDownloadURL().then(function(url) {
                                main.$.plistlinkInput.value = url;
                                main.$.plistlinkInput.disabled = false;
                            });

                        })
            }
        });
    </script>
</dom-module>